<div class="row justify-content-center">
  <div class="col-md-6">

    <%= render "breadcrumb" %>

    <div class="card border-docker mb-5">
      <%= content_tag :div, class: "card-header" do %>
        <%= image_tag "icons/repo.png", size: "75x75", align: "right" %>

        <span class="text-muted small">Namespace</span>
        <h5 class="card-title mb-1"><%= @repository.namespace.presence || "/" %></h5>

        <span class="text-muted small">Image</span>
        <h5 class="card-title mb-0"><%= @repository.image %></h5>

        <%= render "sort_links" %>
      <% end %>

      <% if @tags.any? %>
        <%= form_tag bulk_delete_tags_path, method: :delete, id: 'bulk-delete-form', class: 'mb-3' do %>
          <div class="list-group list-group-flush">
            <% @tags.each do |tag| %>
              <% if Rails.configuration.x.public_registry_url %>
                <div class="copy-to-clipboard-icon">
                  <%= render partial: "shared/copy_to_clipboard", locals: { name: :pull_cmd, value: pull_command(@repository.name, tag), style: "icon" } %>
                </div>
              <% end %>

              <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="flex-grow-1">
                  <% css_margin = Rails.configuration.x.public_registry_url ? "ml-4" : nil %>
                  <%= check_box_tag 'tag_names[]', tag, false, class: "mr-2 #{css_margin}" %>
                  <%= link_to tag_path(repo: @repository.name, tag: tag), class: "text-decoration-none flex-grow-1" do %>
                    <span class="text-monospace small"><%= tag %></span>
                    <%= image_tag "icons/arrow.png", size: "16x16", class: "ml-2" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <% if Rails.configuration.x.delete_enabled %>
            <div class="mt-3">
              <%= submit_tag "Delete Selected Tags", class: "btn btn-danger", data: { confirm: "Are you sure you want to delete the selected tags? This action cannot be undone." } %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= render "blank_tags" %>
      <% end %>
    </div>

  </div>
</div>
